/*  Variables  */
/*   Mixins  */
/*  Transition  */
/*  Box Sizing  */
/*  Box Shadow  */
/*  Border Radius  */
/*  Opacity  */
body {
  background: url(../img/admin-login-body-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

/*  Login page CSS  */
.login-container {
  margin: 50px auto;
  text-align: center;
}
.login-container .login-header {
  background: #f2f2f2;
  padding: 10px 5px;
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 2px 2px 0 0;
}
.login-container .login-wrapper {
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 20px;
}
  .login-container .login-wrapper h5 {
    margin-top: 30px;
  }
.login-container a.fb-btn {
  width: 300px;
  height: 48px;
  margin: 20px auto;
  padding: 0;
}
.login-container form {
  padding: 20px 25px;
}
.login-container .form-control {
  height: 48px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: none;
}
  .login-container .form-control:focus {
    border: 1px solid #a4c2dc;
  }
.login-container .form-control-feedback {
  font-size: 24px;
  top: 34px;
  color: #4d4d4d;
}
.login-container .form-group label {
  text-align: left !important;
  display: block;
}
.login-container a {
  padding: 15px;
  display: block;
}
.login-container a.underline {
  text-decoration: underline;
}
