<!doctype html>
<html>
   <body>
<form action="/update_details" method="get">
      <table border = 1>
        <tr>
            <th>{{ gettext('"Username"') }}</th>
            <th>{{ gettext('"Credits"') }}</th>
            <th>{{ gettext('"Verified"') }}</th>
            <th>{{ gettext('"Redeemed credits"') }}</th>
            <th>{{ gettext('"Bonus credits"') }}</th>
        </tr>

         {% for key in result.keys() %}

            <tr>
               <td><input type="text" readonly value={{ key }} name="uname"> </td>
               <td><input type="text" value= {{ result[key]["credits"]}} name="credits"> </td>

		{% if result[key]["vericode"] == 'verified'  %}               
		<td><input type="text" value= {{ 1 }} name="verified" readonly> </td>
		{% else %} 
           	<td><input type="text" value= {{ 0 }} name="verified"> </td>
		{% endif %}
 
		{% if 'redeemed_credits' in result[key].keys() %}
		<td><input type="text" readonly value={{ result[key]["redeemed_credits"] }} name="redeemed_c"> </td>
               	{% else %} 
		<td><input type="text" readonly value=0 name="redeemed_c"> </td>
               	{% endif %}
 
		{% if 'bonus_credits' in result[key].keys() %}
		<td><input type="text" readonly value={{ result[key]["bonus_credits"] }} name="bonus_credits"> </td>
               	{% else %} 
		<td><input type="text" readonly value=0 name="bonus_credits"> </td>
               	{% endif %}

	 </tr>

         {% endfor %}

      </table>
    <input type="submit" value="Submit">
	      </form>

	<h3>{{ gettext('Unclaimed vouchers available') }}</h3>
	<table border = 1>
		<tr>
		    <th>{{ gettext('"Voucher code"') }}</th>
		    <th>{{ gettext('"credits value"') }}</th>
		</tr>

         {% for key in vouchers.keys() %}

            <tr>
               <td><input type="text" readonly value={{ key }}  size=50> </td>
               <td><input type="text" readonly value= {{ vouchers[key]}} > </td>
            </tr>

         {% endfor %}

	</table>
   </body>
</html>